<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Ajout de carte</title>
<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<header>
eComptage
</header>
<div class="vertical-menu">
		<a th:classappend="${#httpServletRequest.getRequestURI() == '/' ? 'active':''}"
			th:href="@{/}">Home</a>
		<a th:classappend="${#httpServletRequest.getRequestURI() == '/employees' ? 'active':''}"
			th:href="@{/employees}">Liste des employés</a>
		<a th:classappend="${#httpServletRequest.getRequestURI() == '/cartes' ? 'active':''}"
			th:href="@{/cartes}">Liste des cartes</a>
		<a th:classappend="${#httpServletRequest.getRequestURI() == '/pointage' ? 'active':''}"
			th:href="@{/pointage}">Liste des présences</a>

	</div>
<div class="title">
<h1>Ajout de carte</h1>
</div>
	<div class="main">

		<form th:action="@{/savecard}" method="post">

			<fieldset>
				<legend>Nouvelle Carte</legend>

				<label for="nom">UID</label> 
				<input type="text" name="nom" id="nom" value="test"/> 
				
<!-- 				<label for="carte">Carte</label> -->
<!-- 				<select name="carte"> -->
<!-- 								<option th:each="c:${listCarte}" th:text="${c.uid}" -->
<!-- 									th:value="${c.uid}"> -->
<!-- 						</select> -->
				<input type="submit" value="Ajouter !">
			</fieldset>
		</form>
	</div>
</body>
</html>