<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Ajout d'employé</title>
<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<header>
eComptage
</header>
<div class="vertical-menu">
		<a th:classappend="${#httpServletRequest.getRequestURI() == '/' ? 'active':''}"
			th:href="@{/}">Home</a>
		<a th:classappend="${#httpServletRequest.getRequestURI() == '/employees' ? 'active':''}"
			th:href="@{/employees}">Liste des employés</a>
		<a th:classappend="${#httpServletRequest.getRequestURI() == '/cartes' ? 'active':''}"
			th:href="@{/cartes}">Liste des cartes</a>
		<a th:classappend="${#httpServletRequest.getRequestURI() == '/pointage' ? 'active':''}"
			th:href="@{/pointage}">Liste des présences</a>

	</div>
<div class="title">
<h1>Ajout d'employé</h1>
</div>
	<div class="main">

		<form th:action="@{/saveemployee}" method="post">
<!-- 			<table> -->
<!-- 				<thead> -->
<!-- 				</thead> -->
<!-- 				<tr> -->
<!-- 					<td>Nom :</td> -->
<!-- 					<td>Prenom :</td> -->
<!-- 					<td>Email :</td> -->
<!-- 					<td>Date de naissance :</td> -->
<!-- 					<td>Carte :</td> -->
<!-- 				</tr> -->
<!-- 				<tbody> -->
<!-- 					<tr> -->
<!-- 						<td><input type="text" name="nom"></td> -->
<!-- 						<td><input type="text" name="prenom"></td> -->
<!-- 						<td><input type="text" name="email"></td> -->
<!-- 						<td><input type="text" name="date_naissance"></td> -->
<!-- 						<td><select name="carte"> -->
<!-- 								<option th:each="c:${listCarte}" th:text="${c.uid}" -->
<!-- 									th:value="${c.uid}"> -->
<!-- 						</select></td> -->
<!-- 						<td><input type="submit" value="Ajouter"></td> -->


<!-- 					</tr> -->
<!-- 				</tbody> -->
<!-- 			</table> -->
			<fieldset>
				<legend>Ajouter à l'équipe</legend>

				<label for="nom">Nom</label> 
				<input type="text" name="nom" id="nom" value="test"/> 
				<label for="prenom">Prénom</label> 
				<input type="text" name="prenom" id="prenom"/> 
				<label for="email">Adresse mail</label> 
				<input type="email" name="email" id="email"/>
				<label for="date_naissance">Date de naissance</label>
				<input type="text" name="date_naissance"/>
				<label for="carte">Carte</label>
				<select name="carte">
								<option th:each="c:${listCarte}" th:text="${c.uid}"
									th:value="${c.uid}">
						</select>
				<input type="submit" value="Ajouter !">
			</fieldset>
		</form>
	</div>
</body>
</html>