<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Derniers pointages</title>
<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<body>
<div class="vertical-menu">
  <a href="/" class="active">Home</a>
  <a href="/employees">Liste des employés</a>
  <a href="/cartes">Liste des cartes</a>
  <a href="/pointage">Liste des présences</a>
 
</div>
<div class="title">
<h1>Liste des cartes</h1>
</div>
<div class="main">
	<table>
		<thead>
			<tr>
				<td>UID</td>
				<td>Nom ?</td>
			</tr>
		</thead>
		<tbody>
			<tr th:each="c: ${listCarte}">
				<td th:text="${c.uid}"></td>
				<td th:text="${c}"></td>
			</tr>

		</tbody>
	</table>
	</div>
</body>
</html>