<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${Employee.nom }+ | ${Employee.prenom}"></title>
</head>
<body>
<p th:text="${Employee}">
	<div>
		<h1>Fiche contact</h1>
		<form th:action="@{/saveemployee}" method="post">
		
			<fieldset th:each="e: ${Employee}">
				<legend>Coordonnées</legend>
				<!-- Titre du fieldset -->

				<label for="nom">Nom</label> 
				<input type="text" name="nom" id="nom" th:value="${e.nom}"/> 
				<label for="prenom">Prénom</label> 
				<input type="text" name="prenom" id="prenom" th:value="${e.prenom}"/> 
				<label for="email">Adresse mail</label> 
				<input type="email"	name="email" id="email" th:value="${e.email}"/>
				<label for="date_naissance">Date de naissance</label>
				<input type="text" name="date_naissance" th:value="${e.date_naissance}"/>
				<input type="text" name="date_naissance" th:value="${e.Carte.uid}"/>
				<label for="carte">Carte</label>
				<select name="carte">
								<option th:each="c:${listCarte}" th:text="${c.uid}"
									th:value="${Employee.carte.uid}">
						</select>
				<input type="submit" value="Modifier">
			</fieldset>
		</form>


	</div>
	
</body>
</html>